@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 0;
  margin-left: 0;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      padding: 0;
      margin: 0; } }

body {
  background-color: #3f3f3f; }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  padding: 0 auto;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Open Sans"; }

.container__mainheader {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  color: #fff; }

.categorytitle {
  margin-bottom: 1em;
  color: #fff; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 20px;
  padding-left: 20px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 799px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-4 {
      width: 33.33333%; }
    .col-sm-3 {
      width: 25%; } }
  @media (max-width: 499px) {
    .col-xsm-12 {
      width: 100%; }
    .col-xsm-6 {
      width: 50%; }
    .col-xsm-3 {
      width: 25%; } }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

@media (max-width: 799px) {
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; } }

@media (max-width: 499px) {
  .offset-xsm-0 {
    margin-left: 0; }
  .offset-xsm-3 {
    margin-left: 25%; } }

.bodyclass {
  display: flex;
  justify-content: center; }

.container {
  max-width: 1200px; }

.imagecontainer {
  position: relative; }

.thumbnail {
  position: absolute;
  right: 0.5em;
  bottom: 1em;
  padding-right: 0.3em;
  padding-left: 0.3em;
  font-size: 1em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); }

.vidtitle {
  overflow: hidden;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  text-overflow: clip;
  white-space: nowrap; }

.vidcreated {
  color: #fff; }

.bordercontainerdiv {
  display: flex;
  justify-content: center;
  margin: 2em; }
  .bordercontainerdiv .borderdiv {
    width: 80%;
    border-bottom: 0.16em solid #eee; }

@media (min-width: 983px) {
  .vidimg {
    width: 100%;
    height: auto; }
  .category {
    padding: 0 1em; }
  .container__mainheader {
    padding: 0 0.7em; }
  .imagediv {
    display: inline-block;
    width: 33.33333%;
    padding-right: 0.5em;
    padding-left: 0.5em; } }

@media (max-width: 982px) {
  .vidimg {
    width: 100%;
    height: auto; }
  .category {
    padding: 0 1em; }
  .container__mainheader {
    padding: 0 0.7em; }
  .imagediv {
    display: inline-block;
    width: 50%;
    padding-right: 0.5em;
    padding-left: 0.5em; } }

@media (max-width: 699px) {
  .imagediv {
    display: flex;
    width: 100%;
    padding-bottom: 1em;
    flex-direction: column; }
  .vidimg {
    width: 100%;
    height: auto; }
  .category {
    padding: 0 1em; }
  .container__mainheader {
    padding: 0 0.7em; } }

.video {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .video__wrapper {
    position: relative;
    display: flex;
    width: 90vw;
    max-width: 1200px;
    height: 50.625vw;
    max-height: 675px;
    overflow: hidden; }
    .video__wrapper--overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.2);
      background-position: center;
      background-size: contain; }
    .video__wrapper--playpause {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 20%;
      height: 20%;
      margin: auto;
      background-image: url("./img/play.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
  .video__vid {
    width: 100%;
    max-width: 100%;
    padding: 0;
    object-fit: fill; }
  .video__title {
    color: #fff; }
  .video__link {
    font-size: 2em;
    color: #fff;
    text-decoration: none; }
  .video__loading {
    font-size: 1.6em;
    color: #fff; }
  .video__error {
    font-size: 1.6em;
    color: #fff; }
  .video__controls {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1em; }
    .video__controls--button {
      max-width: 12em;
      padding: 1em;
      background-color: transparent;
      border: 0; }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAic3R5bGVzLmNzcyIsCgkic291cmNlcyI6IFsKCQkic3R5bGVzLnNjc3MiLAoJCSJzY3NzL2hlYWRlci5zY3NzIiwKCQkic2Nzcy9ncmlkLnNjc3MiLAoJCSJzY3NzL2xpc3RpLnNjc3MiLAoJCSJzY3NzL3ZpZGVvcGxheWVyLnNjc3MiCgldLAoJIm5hbWVzIjogW10sCgkibWFwcGluZ3MiOiAiO0FBSUEsNENBQTRDO0FBQzVDLEFBQUEsSUFBSSxDQUFDO0VBQUUsNEJBQTRCO0VBQ2pDLFVBQVUsRUFBRSxVQUFVLEdBQ3ZCOztBQUVELEFBQUEsQ0FBQyxFQUFFLEFBQUEsQ0FBQyxBQUFBLE9BQU8sRUFBRSxBQUFBLENBQUMsQUFBQSxNQUFNLENBQUM7RUFBRSw0QkFBNEI7RUFDakQsVUFBVSxFQUFFLE9BQU87RUFFbkIsbUNBQW1DO0VBQ25DLE9BQU8sRUFBRSxDQUFDO0VBQ1YsTUFBTSxFQUFFLENBQUMsR0FDVjs7QUFFRCxBQUFBLElBQUksQ0FBQztFQUFFLDRCQUE0QjtFQUlqQyxZQUFZLEVBQUUsQ0FBQztFQUNmLFdBQVcsRUFBRSxDQUFDO0VBRWQsV0FBVyxFQUFFLFdBQVc7RUFDeEIsU0FBUyxFQUFFLElBQUk7RUFDZixXQUFXLEVBQUUsR0FBRyxHQU1qQjtFQUpDLE1BQU0sRUFBRSxTQUFTLEVBQUUsTUFBTTtJQVgzQixBQUFBLElBQUksQ0FBQztNQVlELE9BQU8sRUFBRSxDQUFDO01BQ1YsTUFBTSxFQUFFLENBQUMsR0FFWjs7QUFDRCxBQUFBLElBQUksQ0FBQztFQUNILGdCQUFnQixFQUFFLE9BQU8sR0FDMUI7O0FBRUQsQUFBQSxHQUFHLENBQUM7RUFBRSw0QkFBNEI7RUFDaEMsU0FBUyxFQUFFLElBQUksR0FDaEI7O0FBRUQsQUFBQSxJQUFJLENBQUM7RUFBRSw0QkFBNEI7RUFDakMsU0FBUyxFQXpDQyxNQUFNO0VBMENoQixPQUFPLEVBQUUsTUFBTTtFQUNmLE1BQU0sRUFBRSxNQUFNO0VBSWQsVUFBVSxFQUFFLE1BQU07RUFFbEIsV0FBVyxFQUFFLFdBQVcsR0FFekI7O0FDcERELEFBQUEsc0JBQXNCLENBQUM7RUFDckIsVUFBVSxFQUFFLE1BQU07RUFDbEIsYUFBYSxFQUFFLE1BQU07RUFDckIsS0FBSyxFQUFFLElBQUksR0FDWjs7QUFFRCxBQUFBLGNBQWMsQ0FBQztFQUNiLGFBQWEsRUFBRSxHQUFHO0VBQ2xCLEtBQUssRUFBRSxJQUFJLEdBQ1o7O0FDVEQsQUFBQSxJQUFJLENBQUM7RUFDSCxPQUFPLEVBQUUsSUFBSTtFQUNiLFNBQVMsRUFBRSxJQUFJO0VBQ2YsWUFBWSxFQUFJLEtBQVc7RUFDM0IsYUFBYSxFRkZOLElBQUk7RUVHWCxXQUFXLEVBQUksS0FBVyxHQUMzQjs7QUFRRCxBQUFBLElBQUksQ0FBQztFQUNILGFBQWEsRUZiTixJQUFJO0VFY1gsWUFBWSxFRmRMLElBQUksR0V1RVo7RUF2REMsQUFBQSxPQUFJLENBQUM7SUFQTCxLQUFLLEVBQUUsSUFBc0IsR0FTNUI7RUFFRCxBQUFBLE1BQUcsQ0FBQztJQVhKLEtBQUssRUFBRSxTQUFzQixHQWE1QjtFQUVELEFBQUEsTUFBRyxDQUFDO0lBZkosS0FBSyxFQUFFLEdBQXNCLEdBaUI1QjtFQUVELEFBQUEsTUFBRyxDQUFDO0lBbkJKLEtBQUssRUFBRSxTQUFzQixHQXFCNUI7RUFFRCxBQUFBLE1BQUcsQ0FBQztJQXZCSixLQUFLLEVBQUUsR0FBc0IsR0F5QjVCO0VBR0MsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLO0lBQ3RCLEFBQUEsVUFBSSxDQUFDO01BN0JULEtBQUssRUFBRSxJQUFzQixHQStCeEI7SUFFRCxBQUFBLFNBQUcsQ0FBQztNQWpDUixLQUFLLEVBQUUsR0FBc0IsR0FtQ3hCO0lBRUQsQUFBQSxTQUFHLENBQUM7TUFyQ1IsS0FBSyxFQUFFLFNBQXNCLEdBdUN4QjtJQUVELEFBQUEsU0FBRyxDQUFDO01BekNSLEtBQUssRUFBRSxHQUFzQixHQTJDeEI7RUFLSCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUs7SUFDdEIsQUFBQSxXQUFJLENBQUM7TUFqRFQsS0FBSyxFQUFFLElBQXNCLEdBbUR4QjtJQUVELEFBQUEsVUFBRyxDQUFDO01BckRSLEtBQUssRUFBRSxHQUFzQixHQXVEeEI7SUFFRCxBQUFBLFVBQUcsQ0FBQztNQXpEUixLQUFLLEVBQUUsR0FBc0IsR0EyRHhCOztBQU1MLEFBQUEsU0FBRyxDQUFDO0VBQ0YsV0FBVyxFQUFFLFFBQW1CLEdBQ2pDOztBQUVELEFBQUEsU0FBRyxDQUFDO0VBQ0YsV0FBVyxFQUFFLFNBQW1CLEdBQ2pDOztBQUdDLE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztFQUN0QixBQUFBLFlBQUcsQ0FBQztJQUNGLFdBQVcsRUFBRSxDQUFDLEdBQ2Y7RUFFRCxBQUFBLFlBQUcsQ0FBQztJQUNGLFdBQVcsRUFBRSxRQUFtQixHQUNqQztFQUVELEFBQUEsWUFBRyxDQUFDO0lBQ0YsV0FBVyxFQUFFLFNBQW1CLEdBQ2pDO0VBRUQsQUFBQSxZQUFHLENBQUM7SUFDRixXQUFXLEVBQUUsR0FBbUIsR0FDakM7O0FBS0gsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLO0VBQ3RCLEFBQUEsYUFBRyxDQUFDO0lBQ0YsV0FBVyxFQUFFLENBQUMsR0FDZjtFQUVELEFBQUEsYUFBRyxDQUFDO0lBQ0YsV0FBVyxFQUFFLEdBQW1CLEdBQ2pDOztBQ2hIUCxBQUFBLFVBQVUsQ0FBQztFQUNULE9BQU8sRUFBRSxJQUFJO0VBQ2IsZUFBZSxFQUFFLE1BQU0sR0FDeEI7O0FBRUQsQUFBQSxVQUFVLENBQUM7RUFDVCxTQUFTLEVBQUUsTUFBTSxHQUNsQjs7QUFFRCxBQUFBLGVBQWUsQ0FBQztFQUNkLFFBQVEsRUFBRSxRQUFRLEdBQ25COztBQUVELEFBQUEsVUFBVSxDQUFDO0VBQ1QsUUFBUSxFQUFFLFFBQVE7RUFDbEIsS0FBSyxFQUFFLEtBQUs7RUFDWixNQUFNLEVBQUUsR0FBRztFQUNYLGFBQWEsRUFBRSxLQUFLO0VBQ3BCLFlBQVksRUFBRSxLQUFLO0VBQ25CLFNBQVMsRUFBRSxHQUFHO0VBQ2QsS0FBSyxFQUFFLElBQUk7RUFDWCxnQkFBZ0IsRUFBRSxrQkFBa0IsR0FDckM7O0FBRUQsQUFBQSxTQUFTLENBQUM7RUFDUixRQUFRLEVBQUUsTUFBTTtFQUNoQixTQUFTLEVBQUUsS0FBSztFQUNoQixXQUFXLEVBQUUsSUFBSTtFQUNqQixLQUFLLEVBQUUsSUFBSTtFQUNYLGFBQWEsRUFBRSxJQUFJO0VBQ25CLFdBQVcsRUFBRSxNQUFNLEdBQ3BCOztBQUVELEFBQUEsV0FBVyxDQUFDO0VBQ1YsS0FBSyxFQUFFLElBQUksR0FDWjs7QUFFRCxBQUFBLG1CQUFtQixDQUFDO0VBQ2xCLE9BQU8sRUFBRSxJQUFJO0VBQ2IsZUFBZSxFQUFFLE1BQU07RUFDdkIsTUFBTSxFQUFFLEdBQUcsR0FNWjtFQVRELEFBS0UsbUJBTGlCLENBS2pCLFVBQVUsQ0FBQztJQUNULEtBQUssRUFBRSxHQUFHO0lBQ1YsYUFBYSxFQUFFLGlCQUFpQixHQUNqQzs7QUFHSCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUs7RUFDdEIsQUFBQSxPQUFPLENBQUM7SUFDTixLQUFLLEVBQUUsSUFBSTtJQUNYLE1BQU0sRUFBRSxJQUFJLEdBQ2I7RUFFRCxBQUFBLFNBQVMsQ0FBQztJQUNSLE9BQU8sRUFBRSxLQUFLLEdBQ2Y7RUFFRCxBQUFBLHNCQUFzQixDQUFDO0lBQ3JCLE9BQU8sRUFBRSxPQUFPLEdBQ2pCO0VBRUQsQUFBQSxTQUFTLENBQUM7SUFDUixPQUFPLEVBQUUsWUFBWTtJQUNyQixLQUFLLEVBQUUsU0FBUztJQUNoQixhQUFhLEVBQUUsS0FBSztJQUNwQixZQUFZLEVBQUUsS0FBSyxHQUNwQjs7QUFHSCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUs7RUFDdEIsQUFBQSxPQUFPLENBQUM7SUFDTixLQUFLLEVBQUUsSUFBSTtJQUNYLE1BQU0sRUFBRSxJQUFJLEdBQ2I7RUFFRCxBQUFBLFNBQVMsQ0FBQztJQUNSLE9BQU8sRUFBRSxLQUFLLEdBQ2Y7RUFFRCxBQUFBLHNCQUFzQixDQUFDO0lBQ3JCLE9BQU8sRUFBRSxPQUFPLEdBQ2pCO0VBRUQsQUFBQSxTQUFTLENBQUM7SUFDUixPQUFPLEVBQUUsWUFBWTtJQUNyQixLQUFLLEVBQUUsR0FBRztJQUNWLGFBQWEsRUFBRSxLQUFLO0lBQ3BCLFlBQVksRUFBRSxLQUFLLEdBQ3BCOztBQUdILE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztFQUN0QixBQUFBLFNBQVMsQ0FBQztJQUNSLE9BQU8sRUFBRSxJQUFJO0lBQ2IsS0FBSyxFQUFFLElBQUk7SUFDWCxjQUFjLEVBQUUsR0FBRztJQUNuQixjQUFjLEVBQUUsTUFBTSxHQUN2QjtFQUVELEFBQUEsT0FBTyxDQUFDO0lBQ04sS0FBSyxFQUFFLElBQUk7SUFDWCxNQUFNLEVBQUUsSUFBSSxHQUNiO0VBRUQsQUFBQSxTQUFTLENBQUM7SUFDUixPQUFPLEVBQUUsS0FBSyxHQUNmO0VBRUQsQUFBQSxzQkFBc0IsQ0FBQztJQUNyQixPQUFPLEVBQUUsT0FBTyxHQUNqQjs7QUMvR0gsQUFBQSxNQUFNLENBQUM7RUFDTCxPQUFPLEVBQUUsSUFBSTtFQUNiLEtBQUssRUFBRSxJQUFJO0VBQ1gsY0FBYyxFQUFFLE1BQU07RUFDdEIsZUFBZSxFQUFFLE1BQU07RUFDdkIsV0FBVyxFQUFFLE1BQU0sR0FpRnBCO0VBL0VDLEFBQUEsZUFBVSxDQUFDO0lBQ1QsUUFBUSxFQUFFLFFBQVE7SUFDbEIsT0FBTyxFQUFFLElBQUk7SUFDYixLQUFLLEVBQUUsSUFBSTtJQUNYLFNBQVMsRUFBRSxNQUFNO0lBQ2pCLE1BQU0sRUFBRSxRQUFRO0lBQ2hCLFVBQVUsRUFBRSxLQUFLO0lBQ2pCLFFBQVEsRUFBRSxNQUFNLEdBOEJqQjtJQTVCQyxBQUFBLHdCQUFVLENBQUM7TUFDVCxRQUFRLEVBQUUsUUFBUTtNQUNsQixHQUFHLEVBQUUsQ0FBQztNQUNOLEtBQUssRUFBRSxDQUFDO01BQ1IsTUFBTSxFQUFFLENBQUM7TUFDVCxJQUFJLEVBQUUsQ0FBQztNQUNQLEtBQUssRUFBRSxJQUFJO01BQ1gsTUFBTSxFQUFFLElBQUk7TUFDWixNQUFNLEVBQUUsSUFBSTtNQUNaLGdCQUFnQixFQUFFLGtCQUFrQjtNQUNwQyxtQkFBbUIsRUFBRSxNQUFNO01BQzNCLGVBQWUsRUFBRSxPQUFPLEdBQ3pCO0lBRUQsQUFBQSwwQkFBWSxDQUFDO01BQ1gsUUFBUSxFQUFFLFFBQVE7TUFDbEIsR0FBRyxFQUFFLENBQUM7TUFDTixLQUFLLEVBQUUsQ0FBQztNQUNSLE1BQU0sRUFBRSxDQUFDO01BQ1QsSUFBSSxFQUFFLENBQUM7TUFDUCxLQUFLLEVBQUUsR0FBRztNQUNWLE1BQU0sRUFBRSxHQUFHO01BQ1gsTUFBTSxFQUFFLElBQUk7TUFDWixnQkFBZ0IsRUFBRSxxQkFBcUI7TUFDdkMsaUJBQWlCLEVBQUUsU0FBUztNQUM1QixtQkFBbUIsRUFBRSxNQUFNO01BQzNCLGVBQWUsRUFBRSxPQUFPLEdBQ3pCO0VBR0gsQUFBQSxXQUFNLENBQUM7SUFDTCxLQUFLLEVBQUUsSUFBSTtJQUNYLFNBQVMsRUFBRSxJQUFJO0lBQ2YsT0FBTyxFQUFFLENBQUM7SUFDVixVQUFVLEVBQUUsSUFBSSxHQUNqQjtFQUVELEFBQUEsYUFBUSxDQUFDO0lBQ1AsS0FBSyxFQUFFLElBQUksR0FDWjtFQUVELEFBQUEsWUFBTyxDQUFDO0lBQ04sU0FBUyxFQUFFLEdBQUc7SUFDZCxLQUFLLEVBQUUsSUFBSTtJQUNYLGVBQWUsRUFBRSxJQUFJLEdBQ3RCO0VBRUQsQUFBQSxlQUFVLENBQUM7SUFDVCxTQUFTLEVBQUUsS0FBSztJQUNoQixLQUFLLEVBQUUsSUFBSSxHQUNaO0VBRUQsQUFBQSxhQUFRLENBQUM7SUFDUCxTQUFTLEVBQUUsS0FBSztJQUNoQixLQUFLLEVBQUUsSUFBSSxHQUNaO0VBRUQsQUFBQSxnQkFBVyxDQUFDO0lBQ1YsT0FBTyxFQUFFLFdBQVc7SUFDcEIsV0FBVyxFQUFFLE1BQU07SUFDbkIsZUFBZSxFQUFFLE1BQU07SUFDdkIsTUFBTSxFQUFFLEdBQUcsR0FRWjtJQU5DLEFBQUEsd0JBQVMsQ0FBQztNQUNSLFNBQVMsRUFBRSxJQUFJO01BQ2YsT0FBTyxFQUFFLEdBQUc7TUFDWixnQkFBZ0IsRUFBRSxXQUFXO01BQzdCLE1BQU0sRUFBRSxDQUFDLEdBQ1YiCn0= */