@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 0;
  margin-left: 0;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      padding: 0;
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  padding: 0 auto;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Open Sans"; }

.mainheader, .videoh2 {
  color: #fff; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 20px;
  padding-left: 20px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 799px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-4 {
      width: 33.33333%; }
    .col-sm-3 {
      width: 25%; } }
  @media (max-width: 499px) {
    .col-xsm-12 {
      width: 100%; }
    .col-xsm-6 {
      width: 50%; }
    .col-xsm-3 {
      width: 25%; } }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

@media (max-width: 799px) {
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; } }

@media (max-width: 499px) {
  .offset-xsm-0 {
    margin-left: 0; }
  .offset-xsm-3 {
    margin-left: 25%; } }

body {
  background-color: #3f3f3f; }

.container {
  display: flex;
  flex-direction: column; }

.vidimg {
  height: auto;
  width: 250px; }

/*# BQ1YsTUFBTSxFQUFFLENBQUMsR0FDVjs7QUFFRCxBQUFBLElBQUksQ0FBQztFQUFFLDRCQUE0QjtFQUlqQyxZQUFZLEVBQUUsQ0FBQztFQUNmLFdBQVcsRUFBRSxDQUFDO0VBRWQsV0FBVyxFQUFFLFdBQVc7RUFDeEIsU0FBUyxFQUFFLElBQUk7RUFDZixXQUFXLEVBQUUsR0FBRyxHQU1qQjtFQUpDLE1BQU0sRUFBRSxTQUFTLEVBQUUsTUFBTTtJQVgzQixBQUFBLElBQUksQ0FBQztNQVlELE9BQU8sRUFBRSxDQUFDO01BQ1YsTUFBTSxFQUFFLENBQUMsR0FFWjs7QUFFRCxBQUFBLEdBQUcsQ0FBQztFQUFFLDRCQUE0QjtFQUNoQyxTQUFTLEVBQUUsSUFBSSxHQUNoQjs7QUFFRCxBQUFBLElBQUksQ0FBQztFQUFFLDRCQUE0QjtFQUNqQyxTQUFTLEVBdENDLE1BQU07RUF1Q2hCLE9BQU8sRUFBRSxNQUFNO0VBQ2YsTUFBTSxFQUFFLE1BQU07RUFJZCxVQUFVLEVBQUUsTUFBTTtFQUVsQixXQUFXLEVBQUUsV0FBVyxHQUV6Qjs7QUNqREQsQUFBQSxXQUFXLEVBQUUsQUFBQSxRQUFRLENBQUM7RUFDcEIsS0FBSyxFQUFFLElBQUksR0FDWjs7QUNGRCxBQUFBLElBQUksQ0FBQztFQUNILE9BQU8sRUFBRSxJQUFJO0VBQ2IsU0FBUyxFQUFFLElBQUk7RUFDZixZQUFZLEVBQUksS0FBVztFQUMzQixhQUFhLEVGRk4sSUFBSTtFRUdYLFdBQVcsRUFBSSxLQUFXLEdBQzNCOztBQVFELEFBQUEsSUFBSSxDQUFDO0VBQ0gsYUFBYSxFRmJOLElBQUk7RUVjWCxZQUFZLEVGZEwsSUFBSSxHRXVFWjtFQXZEQyxBQUFBLE9BQUksQ0FBQztJQVBMLEtBQUssRUFBRSxJQUFzQixHQVM1QjtFQUVELEFBQUEsTUFBRyxDQUFDO0lBWEosS0FBSyxFQUFFLFNBQXNCLEdBYTVCO0VBRUQsQUFBQSxNQUFHLENBQUM7SUFmSixLQUFLLEVBQUUsR0FBc0IsR0FpQjVCO0VBRUQsQUFBQSxNQUFHLENBQUM7SUFuQkosS0FBSyxFQUFFLFNBQXNCLEdBcUI1QjtFQUVELEFBQUEsTUFBRyxDQUFDO0lBdkJKLEtBQUssRUFBRSxHQUFzQixHQXlCNUI7RUFHQyxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUs7SUFDdEIsQUFBQSxVQUFJLENBQUM7TUE3QlQsS0FBSyxFQUFFLElBQXNCLEdBK0J4QjtJQUVELEFBQUEsU0FBRyxDQUFDO01BakNSLEtBQUssRUFBRSxHQUFzQixHQW1DeEI7SUFFRCxBQUFBLFNBQUcsQ0FBQztNQXJDUixLQUFLLEVBQUUsU0FBc0IsR0F1Q3hCO0lBRUQsQUFBQSxTQUFHLENBQUM7TUF6Q1IsS0FBSyxFQUFFLEdBQXNCLEdBMkN4QjtFQUtILE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztJQUN0QixBQUFBLFdBQUksQ0FBQztNQWpEVCxLQUFLLEVBQUUsSUFBc0IsR0FtRHhCO0lBRUQsQUFBQSxVQUFHLENBQUM7TUFyRFIsS0FBSyxFQUFFLEdBQXNCLEdBdUR4QjtJQUVELEFBQUEsVUFBRyxDQUFDO01BekRSLEtBQUssRUFBRSxHQUFzQixHQTJEeEI7O0FBTUwsQUFBQSxTQUFHLENBQUM7RUFDRixXQUFXLEVBQUUsUUFBbUIsR0FDakM7O0FBRUQsQUFBQSxTQUFHLENBQUM7RUFDRixXQUFXLEVBQUUsU0FBbUIsR0FDakM7O0FBR0MsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLO0VBQ3RCLEFBQUEsWUFBRyxDQUFDO0lBQ0YsV0FBVyxFQUFFLENBQUMsR0FDZjtFQUVELEFBQUEsWUFBRyxDQUFDO0lBQ0YsV0FBVyxFQUFFLFFBQW1CLEdBQ2pDO0VBRUQsQUFBQSxZQUFHLENBQUM7SUFDRixXQUFXLEVBQUUsU0FBbUIsR0FDakM7RUFFRCxBQUFBLFlBQUcsQ0FBQztJQUNGLFdBQVcsRUFBRSxHQUFtQixHQUNqQzs7QUFLSCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUs7RUFDdEIsQUFBQSxhQUFHLENBQUM7SUFDRixXQUFXLEVBQUUsQ0FBQyxHQUNmO0VBRUQsQUFBQSxhQUFHLENBQUM7SUFDRixXQUFXLEVBQUUsR0FBbUIsR0FDakM7O0FDaEhQLEFBQUEsSUFBSSxDQUFDO0VBQ0gsZ0JBQWdCLEVBQUUsT0FBTyxHQUMxQjs7QUFFRCxBQUFBLFVBQVUsQ0FBQztFQUNULE9BQU8sRUFBRSxJQUFJO0VBQ2IsY0FBYyxFQUFFLE1BQU0sR0FpQnZCOztBQUVELEFBQUEsT0FBTyxDQUFDO0VBQ04sTUFBTSxFQUFFLElBQUk7RUFDWixLQUFLLEVBQUUsS0FBSyxHQUNiIgp9 */
