.bodyclass {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
}

.imagecontainer {
  position: relative;
}

.thumbnail {
  position: absolute;
  right: 0.5em;
  bottom: 1em;
  padding-right: 0.3em;
  padding-left: 0.3em;
  font-size: 1em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.vidtitle {
  overflow: hidden;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  text-overflow: clip;
  white-space: nowrap;
}

.vidcreated {
  color: #fff;
}

.bordercontainerdiv {
  display: flex;
  justify-content: center;
  margin: 2em;

  .borderdiv {
    width: 80%;
    border-bottom: 0.16em solid #eee;
  }
}

@media (min-width: 983px) {
  .vidimg {
    width: 100%;
    height: auto;
  }

  .category {
    padding: 0 1em;
  }

  .container__mainheader {
    padding: 0 0.7em;
  }

  .imagediv {
    display: inline-block;
    width: 33.33333%;
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
}

@media (max-width: 982px) {
  .vidimg {
    width: 100%;
    height: auto;
  }

  .category {
    padding: 0 1em;
  }

  .container__mainheader {
    padding: 0 0.7em;
  }

  .imagediv {
    display: inline-block;
    width: 50%;
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
}

@media (max-width: 699px) {
  .imagediv {
    display: flex;
    width: 100%;
    padding-bottom: 1em;
    flex-direction: column;
  }

  .vidimg {
    width: 100%;
    height: auto;
  }

  .category {
    padding: 0 1em;
  }

  .container__mainheader {
    padding: 0 0.7em;
  }
  .vidtitle {
    white-space: normal;
  }
}
