body {
  background-color: #3f3f3f;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.imagediv {
  width: 345px;
  display: inline-block;
  padding-right: 10px;
}

.vidimg {
  width: 100%;
  height: auto;
}

.imagecontainer {
  position: relative;
}

.thumbnail {
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    bottom: 16px;
    right: 8px;
    font-size: 18px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.vidtitle {
  font-size : 18px;
  font-weight: bold;
  color: #fff;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.vidcreated {
  color: #fff;
}

.bordercontainerdiv {
  display: flex;
  justify-content: center;
  margin: 30px;

  .borderdiv {
    border-bottom: 2px solid #eee;
    width: 80%;
  }
}
