body {
  background-color: #3f3f3f;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.vidimg {
  width: 100%;
  height: auto;
}

.imagediv{
  width: 345px;
  display: inline-block;
  padding-right: 10px;
}

.vidtitle{
  font-size : 18px;
  font-weight: bold;
  color: #fff;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.vidcreated{
  color: #fff;
}
.bordercontainerdiv {
  display: flex;
  justify-content: center;
  margin: 30px;

  .borderdiv {
    border-bottom: 2px solid #939393;
    width: 80%;
  }
}
  .border-container {
    display: flex;
    justify-content: center;
    margin: 30px;

    &__bottom {
      border-bottom: 2px solid #939393;
      width: 80%;
    }
  }
